body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffeb3b;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff9c4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.pokemon {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #e3f2fd;
}

.pokemon img {
  max-width: 800%;
  display: block;
  margin: 0 auto;
}

.pokemon h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
.logo {
  display: inline-block;
  height: 100px;
  width: auto;
  margin-right: 10px;
}
.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Se ajusta automáticamente al tamaño de la pantalla */
  gap: 20px;
  justify-content: center;
}
